fastapi
uvicorn[standard]
python-dotenv
openai
pydantic[email]
python-multipart
slugify
PyPDF2
python-docx
python-pptx
pytube
google-cloud-storage
passlib[bcrypt]

# --- YENİ V2 VERİTABANI KÜTÜPHANELERİ ---
sqlalchemy
psycopg2-binary
